* text=auto !eol
documentation/README.md -text
documentation/autoscheduler[!!-~]diagram.graffle -text
documentation/autoscheduler[!!-~]diagram.pdf -text
idl/apogee_simulation/apogee.pro -text
idl/apogee_simulation/eboss.pro -text
idl/apogee_simulation/gen_weather.pro -text
idl/apogee_simulation/get_platedata.pro -text
idl/apogee_simulation/manga.pro -text
idl/apogee_simulation/observability.pro -text
idl/apogee_simulation/out_final.pro -text
idl/apogee_simulation/out_sim.pro -text
idl/apogee_simulation/platelists/apogee2_2016-02-10_forBen.dat -text
idl/apogee_simulation/platelists/eboss.1113.txt -text
idl/apogee_simulation/s4as.pro -text
idl/apogee_simulation/set_params.pro -text
platelists/apogee2_2016-02-10_forBen.dat -text
platelists/eboss.1113.txt -text
python/autoscheduler/__init__.py -text
python/autoscheduler/apogee/__init__.py -text
python/autoscheduler/apogee/get_apogee_plates.py -text
python/autoscheduler/apogee/observability.py -text
python/autoscheduler/apogee/pick_apogee_plates.py -text
python/autoscheduler/apogee/schedule_apogee.py -text
python/autoscheduler/apogee/set_apogee_priorities.py -text
python/autoscheduler/assign_carts.py -text
python/autoscheduler/eboss/__init__.py -text
python/autoscheduler/eboss/get_eboss_plates.py -text
python/autoscheduler/eboss/observability.py -text
python/autoscheduler/eboss/pick_eboss_plates.py -text
python/autoscheduler/eboss/schedule_eboss.py -text
python/autoscheduler/manga/Totoro/APOplateDB.py -text
python/autoscheduler/manga/Totoro/__init__.py -text
python/autoscheduler/manga/Totoro/backup/conversion.py.bak -text
python/autoscheduler/manga/Totoro/backup/defaults.py -text
python/autoscheduler/manga/Totoro/backup/logger.py.bak -text
python/autoscheduler/manga/Totoro/backup/mangaDB.sql -text
python/autoscheduler/manga/Totoro/backup/plateDB/PlateDB.py.bak -text
python/autoscheduler/manga/Totoro/backup/plateDB/__init__.py -text
python/autoscheduler/manga/Totoro/backup/plateDB/connection.py -text
python/autoscheduler/manga/Totoro/backup/plateDB/dataModel.py -text
python/autoscheduler/manga/Totoro/backup/plateDB/queries.py -text
python/autoscheduler/manga/Totoro/backup/plateDB_Test.dump -text
python/autoscheduler/manga/Totoro/backup/plateUtils.py -text
python/autoscheduler/manga/Totoro/core/__init__.py -text
python/autoscheduler/manga/Totoro/core/colourPrint.py -text
python/autoscheduler/manga/Totoro/core/configuration.py -text
python/autoscheduler/manga/Totoro/core/logger.py -text
python/autoscheduler/manga/Totoro/core/setupTools.py -text
python/autoscheduler/manga/Totoro/data/Sch_base.6yrs.txt.frm.dat -text
python/autoscheduler/manga/Totoro/data/finalTilingCatalogue_v0.5.fits -text svneol=unset#unset
python/autoscheduler/manga/Totoro/data/nightly.D.txt -text
python/autoscheduler/manga/Totoro/data/nightly.D_UTC.txt -text
python/autoscheduler/manga/Totoro/dbclasses/__init__.py -text
python/autoscheduler/manga/Totoro/dbclasses/baseDBClass.py -text
python/autoscheduler/manga/Totoro/dbclasses/exposure.py -text
python/autoscheduler/manga/Totoro/dbclasses/field.py -text
python/autoscheduler/manga/Totoro/dbclasses/plate.py -text
python/autoscheduler/manga/Totoro/dbclasses/plugging.py -text
python/autoscheduler/manga/Totoro/dbclasses/set.py -text
python/autoscheduler/manga/Totoro/defaults.yaml -text
python/autoscheduler/manga/Totoro/exceptions.py -text
python/autoscheduler/manga/Totoro/helpers/__init__.py -text
python/autoscheduler/manga/Totoro/helpers/addFields.py -text
python/autoscheduler/manga/Totoro/helpers/addTiles.py.bak -text
python/autoscheduler/manga/Totoro/helpers/createWorkableDB.py -text
python/autoscheduler/manga/Totoro/helpers/loadMockData.py -text
python/autoscheduler/manga/Totoro/helpers/tilecenters_180_SGC.fits -text
python/autoscheduler/manga/Totoro/logic/__init__.py -text
python/autoscheduler/manga/Totoro/logic/mangaLogic.py -text
python/autoscheduler/manga/Totoro/logic/mangaLogicTimeline.py -text
python/autoscheduler/manga/Totoro/output/__init__.py -text
python/autoscheduler/manga/Totoro/output/output.py -text
python/autoscheduler/manga/Totoro/output/tabularOutput.py -text
python/autoscheduler/manga/Totoro/readPath.py -text
python/autoscheduler/manga/Totoro/scheduler/__init__.py -text
python/autoscheduler/manga/Totoro/scheduler/observingPlan.py -text
python/autoscheduler/manga/Totoro/scheduler/scheduler.py -text
python/autoscheduler/manga/Totoro/scheduler/timeline.py -text
python/autoscheduler/manga/Totoro/tests/__init__.py -text
python/autoscheduler/manga/Totoro/tests/testAPOcomplete.py -text
python/autoscheduler/manga/Totoro/tests/testDB.py -text
python/autoscheduler/manga/Totoro/tests/testMangaSampleParameters.py -text
python/autoscheduler/manga/Totoro/tests/testNightly.py -text
python/autoscheduler/manga/Totoro/tests/testOutput.pckl -text
python/autoscheduler/manga/Totoro/tests/testOutput.py -text
python/autoscheduler/manga/Totoro/tests/testPlanner.py -text
python/autoscheduler/manga/Totoro/tests/testPlugger.py -text
python/autoscheduler/manga/Totoro/utils/__init__.py -text
python/autoscheduler/manga/Totoro/utils/intervals.py -text
python/autoscheduler/manga/Totoro/utils/utils.py -text
python/autoscheduler/manga/Totoro/version.py -text
python/autoscheduler/manga/__init__.py -text
python/autoscheduler/manga/schedule_manga.py -text
python/autoscheduler/night_schedule.py -text
python/autoscheduler/s4as.py -text
python/run_autoscheduler_api.py -text
python/uwsgi_conf_files/uwsgi_sdssdb4_dev.ini -text
python/uwsgi_conf_files/uwsgi_sdssdb4_pro.ini -text
python/web/__init__.py -text
python/web/color_print.py -text
python/web/config.py -text
python/web/configuration_files/dev-utah.sdss.edu.cfg -text
python/web/configuration_files/localhost.cfg -text
python/web/configuration_files/sdss-db4.dev.cfg -text
python/web/configuration_files/sdss-db4.local.cfg -text
python/web/controllers/__init__.py -text
python/web/controllers/index.py -text
python/web/designpatterns.py -text
python/web/jinja_filters.py -text
python/web/lib/__init__.py -text
python/web/lib/app_globals.py -text
python/web/lib/helpers.py -text
python/web/model/__init__.py -text
python/web/model/database.py -text
python/web/templates/index.html -text
python/web/templates/layout.html -text
schedules/Sch_base.2yrs.txt.frm.dat -text
schedules/Sch_base.4yrs.txt.frm.dat -text
schedules/Sch_base.6yrs.txt -text
schedules/Sch_base.6yrs.txt.frm.dat -text
schedules/Sch_base.sdss3.txt.frm.dat -text
schedules/gen_schedule.pro -text
